PORT=8080
NODE_ENV=develop
MONGO_DB_URI=mongodb+srv://sdsddsd,,,,
JWT_ACCES_SECRET=LAS_FINANZAS_2026_SE_REFRESCAN
JWT_REFRESH_SECRET=LAS_FINANZAS_2026_SE_REFRESCAN
JWT_ACCES_EXPIRES=50m
JWT_REFRESH_EXPIRES=6D